body{
    background-color: cadetblue;
    display: flex;
    text-align: center;
    justify-content: center;
}
#watch{
    margin-top: 150px;
    background-color: blueviolet;
    height: 300px;
    width: 500px;
}
#tym{
    margin-top: 80px;
    font-size: 30px;
}
.btn{
    height: 30px;
    width: 100px;
    margin-left: 15px;
    font-size: larger;
    background-color: rgb(48, 241, 48);
}

